html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;

  &::before, &::after {
    box-sizing: border-box;
  }
}

$primary: #fab2a2;
$light-primary: #fcc1b5;
$dark-primary: #f5886f;
$primary-border: #7a3320;
// $primary-shadow: #ffe3e2;

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  min-width: 190px;

  &.fancy {
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.25em 1em;
    background: $light-primary;
    border: 2px solid $primary-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 125ms cubic-bezier(0, 0, 0.58, 1), background 125ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-primary;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $primary-border;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 125ms cubic-bezier(0, 0, 0.58, 1), box-shadow 125ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover, &:focus-visible {
      background: $primary;
      transform: translate(0, 0.25em);

      &::before {
        box-shadow: 0 0 0 2px $primary-border;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      transform: translate(0em, 0.75em);

      &::before {
        box-shadow: 0 0 0 2px $primary-border;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}
